.no-form {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.form {
  margin-top: 1%;
  margin-bottom: 1%;
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
}
.form-title {
  text-align: center;
}

.form-fields {
  margin-left: 1%;
  margin-right: 1%;
}

.number-field {
  max-width: 50px;
}
