.homepage.header {
  width: 100%;
  text-align: center;
  background-color: #fcd32c;
  color: #c92c20;
}

.homepage.tag-line {
  text-align: center;
  background-color: #ffffff;
  width: 70%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #fcd32c;
}
