@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./category.scss";
@import "./pasta.scss";
@import "./loggingin.scss";
@import "./homepage.scss";

body {
  background-image: url("https://e7.pngegg.com/pngimages/243/115/png-clipart-check-textile-woven-fabric-tartan-gingham-checkered-border-s-angle-rectangle.png");
  background-size: 750px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:link,
a:visited {
  color: #c92c20;
}

a:hover,
a:active {
  color: #923641;
}

.list-container {
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff99;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.column-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-top: 5%;
  row-gap: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
