.review-collection-box {
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff99;
  padding-bottom: 1%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.review-tile {
  background-color: #ffffff;
  border-style: solid;
  border-radius: 10px;
  border-color: #c92c20;
  padding: 1%;
  margin: 1%;
}

.no-reviews {
  background-color: #ffffff;
  border-style: solid;
  border-radius: 10px;
  border-color: #c92c20;
  padding: 1%;
  margin: 1%;
  text-align: center;
}
